<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Clinic Pal</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/login.css">

</head>

<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark nb">
    <a class="navbar-brand" href="/">Clinic Pal</a>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      {{#if loggedIn}}
      <a id="logout" class="nav-item nav-link" href="/login">Log Out</a>
      <a class="nav-item nav-link" href="/visits">My Visits</a>
      {{else}}
      <a class="nav-item nav-link" href="/login">Log In</a>
      {{/if}}
      {{#if role}}
      <a class="nav-item nav-link" href="/doctor-panel">Doctor Panel</a>
      {{/if}}
    </div>
  </nav>

  <main class="content">
    {{{body}}}
  </main>


  <footer class="footer">

    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">Clinic Buddy</a></p>
    <p class="fl_right">Questions? Click <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" title="here">here.</a></p>

  </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
  </script>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>