<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Clinic Pal</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>

<body>
{{{body}}}
</body>

<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">Clinic Buddy</a></p>
    <p class="fl_right">Questions? Click <a target="_blank" href="index.html" title="here">here.</a></p>
  </footer>
</div>

</body>
</html>