<!DOCTYPE html>
<html lang="en" />
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meet the Doctors</title>
    <link rel="stylesheet" href="/styles/layout.css" />
</head>
<body>
    
{{!-- Footer --}}
<footer>
    <p>
    Copyright &copy; 2020 - All Rights Reserved - 
    a(href='#') Clinic Buddy
    </p>
    <p>
    Questions? Click 
    a(target='_blank' href='index.html' title='here') here.
    </p>
</body>
</html>