<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-sm">
      
    </div>
  </div>
</div>

<div class="container">
  <div class="card text-center">

    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Access/Edit Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Profile</a>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <h5 class="card-title">Hello Doctor {{session.first_name}} {{session.last_name}} <br><br>Would you like to add/edit...</h5>
      <a href="/visits" id="visits-button" class="btn btn-primary">Visits</a>
      <a href="/patient-list" id="patients-button" class="btn btn-primary">Patients</a>
      <a href="/doctor-list" id="doctors-button" class="btn btn-primary">Doctors</a>
    </div>

</div>

