<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-sm">
      
    </div>
  </div>
</div>

<div class="container">
  <div class="card text-center">

    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Access/Edit Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Profile</a>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <h5 class="card-title">Hello Doctor {{session.first_name}} {{session.last_name}} <br><br>Would you like to...</h5>
      <a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#visitFormModal">Create New Visit</a>
      <a href="#" class="btn btn-primary">View/Edit Visits</a>
    </div>

</div>

