<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="slider"><a href="#"><img class="hero"
          src="https://res.cloudinary.com/gwrtdhv/image/upload/v1605331809/960x360_cam52a.jpg"
          alt=""></a>
    </section>
    <div id="homepage">
      <section id="services" class="clear">
        <article class="one_quarter">
          <figure><img
              src="https://res.cloudinary.com/gwrtdhv/image/upload/v1605331737/32x32_lxazle.png"
              width="32" height="32" alt="">
          </figure>
          <strong>Leeches?</strong>
          <p>Ten bloodletting tips your doctors don't want you to know about.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter">
          <figure><img
              src="https://res.cloudinary.com/gwrtdhv/image/upload/v1605331737/32x32_lxazle.png"
              width="32" height="32" alt=""></figure>
          <strong>Wax on or wax off?</strong>
          <p>For years scientists and philosophers have asked themselves this. Today we discuss the definitive answer.
          </p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter">
          <figure><img
              src="https://res.cloudinary.com/gwrtdhv/image/upload/v1605331737/32x32_lxazle.png"
              width="32" height="32" alt=""></figure>
          <strong>Ouch!</strong>
          <p>Why hitting your toe on the coffee table hurts.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter lastbox">
          <figure><img
              src="https://res.cloudinary.com/gwrtdhv/image/upload/v1605331737/32x32_lxazle.png"
              width="32" height="32" alt=""></figure>
          <strong>Drug trials?</strong>
          <p>Who gets to test them and how to get invited!</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
      </section>

      <section id="doctors">
        <article>
          <figure>
            <ul class="clear">
              <li class="one_third"><img src="https://res.cloudinary.com/gwrtdhv/image/upload/v1605331637/21B_img_mhzunc.jpg" width="290" height="180" alt=""></li>
              <li class="one_third"><img src="https://res.cloudinary.com/gwrtdhv/image/upload/v1605331810/fx7_img_hbjxss.jpg" width="290" height="180" alt=""></li>
              <li class="one_third lastbox"><img src="https://res.cloudinary.com/gwrtdhv/image/upload/v1605331811/gonk_img_kqu2xx.jpg" width="290" height="180" alt=""></li>
            </ul>
            <figcaption><a href="/doctors">Meet our doctors! &raquo;</a></figcaption>
          </figure>
        </article>
      </section>
    </div>
  </div>
</div>