<main class="content">
  
  <div class="main_container">
    <h2>Login</h2>
  
    <form id="loginForm" method="post">
      <div class="imgcontainer">
        <img src="https://res.cloudinary.com/gwrtdhv/image/upload/v1605488980/clipart2111478_wcxdwi.png" alt="Avatar" class="avatar">
      </div>
  
      <div class="container">
        <label for="uname"><b>Email</b></label>
        <input id='email' type="text" placeholder="Enter Email Address" name="uname" required>
  
        <label for="psw"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="psw" required>
  
        <button class="btn btn-success" type="submit" minlength="4">Login</button>
        </form>
  
        <a class="pretty-button btn btn-success" href="/forms/user" type="button">Sign Up</a>
        
      </div>
  
    
  
    <script src="/javascript/login.js"></script>
</main>