<body>

{{!-- header --}}
<header>

<h1>
 <a href="/">Clinic Buddy</a>
</h1>
<h2>Putting the &quot;I see&quot; back in ICU</h2> 

{{!-- navigation --}}
<nav>
  {{#if loggedIn}}
  <button id="logout" class="">Logout</button>
  {{else}}
  <a href="/login">login</a>
  {{/if}}
</nav>
</header>

<div class="#">

<main>
    {{{body}}}
</main>

</div>

{{!-- footer --}}
<footer>
    <p>
    Copyright &copy; 2020 - All Rights Reserved - 
    <a href='#' target="_blank" Clinic Buddy></a>
    </p>
    <p>
    Questions? Click 
    <a target='_blank' href='index.html' title='here'>here.</a>
    </p>
</footer>

{{#if loggedIn}}
<script src="/public/javascript/logout.js"></script>
{{/if}}
</body>